@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'OpenSansLight';
	src: url("../fonts/Open_Sans/OpenSans-light.ttf");
	font-size: 1em;
}
html {
    height: 100%;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
section {
	font-size: 12pt;
	color: black;
}
footer {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0,0,0,0.6);
    margin-top: auto;
}
.header{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0,0,0,0.6);
}
.fundo{
    margin: 0;
    padding: 0;
    font-family: OpenSansLight;
    /* Aquele azul que eu tinha deixado por um tempo
    background: #4B79A1; 
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1); 
    background: linear-gradient(to right, #283E51, #4B79A1); 
    */

    background: #2b5876; 
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876);
  }
.quadrado{
    font-family: 'Roboto', sans-serif;

    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    padding: 50px;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    border-radius: 20px;
    font-size: 12pt;
    box-shadow: 9px 7px 10px rgba(50, 50, 50, 0.5);
}
.removerLink{
    color: inherit;
    text-decoration:none; 
}
/*Style dos textos do datatables*/
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: white;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: white !important;
}
.dataTables_wrapper .dataTables_filter input {
    background-color: transparent;
}
.dataTables_wrapper .dataTables_length select{
    background-color: white;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: white !important;
}
.dataTables_wrapper .dataTables_filter input {
    color: white;
    background-color: rgba(220,220,220, 0.1);
}
/*Aqui eu mudo a cor da linha da tabela, quando eu passo o mouse por cima.*/
table#table_clientes.dataTable tbody tr:hover {
    background-color: rgba(230,230,250);
}
    
table#table_clientes.dataTable tbody tr:hover > .sorting_1 {
    background-color: rgba(230,230,250);
}

/*Aqui eu crio o efeito personalizado do modal */
.modalfade {
    animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s; /* Firefox */
    -webkit-animation: fadeIn 0.4s; /* Safari and Chrome */
    -o-animation: fadeIn 0.4s; /* Opera */
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadeIn { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadeIn { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadeIn { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
