@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'OpenSansLight';
	src: url("../fonts/Open_Sans/OpenSans-light.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Arciform';
	src: url("../fonts/Arciform/Arciform.otf");
	font-size: 1em;
}
@font-face {
	font-family: 'Franca';
	src: url("../fonts/Franca/bold.otf");
	font-size: 1em;
}

body {
	font-family: 'OpenSans';
}

.hide{
	display: none;
}
	